html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background: #000;
  font-family: 'Arial',sans-serif;
  padding-top: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

.clear-fix {
  clear: both; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  width: 1300px; }

.row-fix {
  height: 90px;
  overflow: hidden; }
  .row-fix img {
    width: 100%;
    height: 90px; }
  .row-fix .row-8 {
    height: 100%;
    margin-right: 0;
    padding-right: 0; }
  .row-fix .row-4 {
    background: #f2f2f2;
    height: 100%; }

.menu {
  height: 45px;
  padding-right: 0;
  margin-top: 10px;
  margin-bottom: 15px; }
  .menu .menu1 {
    width: 65%;
    float: left;
    height: 100%; }
    .menu .menu1 .nav1 {
      height: 45px; }
      .menu .menu1 .nav1 a {
        font-size: 15px; }
      .menu .menu1 .nav1 .home a:hover {
        cursor: pointer; }
  .menu .shopping-cart {
    width: 5%;
    float: left;
    height: 45px;
    position: relative; }
    .menu .shopping-cart a .icon {
      color: #fff;
      font-size: 45px; }
    .menu .shopping-cart strong {
      background: #ffff00;
      position: absolute;
      border-radius: 80%;
      color: red;
      font-size: 10px;
      padding: 7px;
      left: 35px;
      top: -7px;
      display: inline-block; }
  .menu .Search {
    width: 15%;
    float: left;
    margin-left: 5px; }
    .menu .Search .button-search {
      height: 43px; }
  .menu .login {
    width: 14%;
    height: 43px;
    float: right;
    padding-top: 15px;
    margin-left: 5px; }
    .menu .login a {
      text-decoration: none;
      font-size: 12px;
      margin-right: 3px; }

.brands {
  width: 200px;
  height: 500px;
  overflow: hidden;
  float: left; }
  .brands .nav-brands {
    height: 100%; }
    .brands .nav-brands .active a {
      cursor: default; }
  .brands li {
    display: block;
    width: 220px; }
    .brands li a {
      font-size: 20px;
      line-height: 1.5em; }

.content {
  width: 1020px;
  float: right; }
  .content .col-4 {
    padding-bottom: 10px; }
    .content .col-4 .thumb-fix {
      height: 435px; }
      .content .col-4 .thumb-fix img {
        width: 242px;
        height: 200px; }
      .content .col-4 .thumb-fix h3 {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        margin-bottom: 5px; }
      .content .col-4 .thumb-fix p {
        font-size: 14px;
        line-height: 1.5em;
        margin-bottom: 7px; }
        .content .col-4 .thumb-fix p button {
          background: #337ab7;
          border: none;
          width: 100%;
          height: 100%; }
          .content .col-4 .thumb-fix p button:hover {
            background: #286090; }
      .content .col-4 .thumb-fix .btn-fix {
        padding: 0;
        height: 35px;
        width: 140px;
        text-align: center; }

.content-footer {
  width: 100%;
  background: #fff;
  text-align: center;
  height: 50px;
  padding-top: 12px; }
  .content-footer p {
    font-size: 20px;
    line-height: 1.5em; }

.clear-fix {
  clear: both; }

.content-detail {
  background: #fff;
  width: 1020px;
  height: 1000px;
  float: right;
  margin-bottom: 30px; }
  .content-detail .col-4 {
    padding-bottom: 10px;
    float: right; }
    .content-detail .col-4 .thumb-fix {
      float: right;
      padding-right: 25px;
      border: none; }
      .content-detail .col-4 .thumb-fix p {
        font-size: 14px;
        line-height: 1.5em;
        margin-bottom: 7px; }
        .content-detail .col-4 .thumb-fix p button {
          background: #337ab7;
          border: none;
          width: 100%;
          height: 100%; }
          .content-detail .col-4 .thumb-fix p button:hover {
            background: #286090; }
      .content-detail .col-4 .thumb-fix .btn-fix {
        padding: 0;
        height: 35px;
        width: 150px;
        text-align: center; }
  .content-detail .sp img {
    width: 400px;
    height: auto;
    margin: 0 280px; }
  .content-detail .sp h1 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: red; }
  .content-detail .sp h3 {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px; }
  .content-detail .sp .detail {
    border-top: 3px solid #000;
    border-bottom: 1px solid #ccc;
    width: 800px;
    margin: 10px 80px;
    padding-top: 10px; }
    .content-detail .sp .detail span {
      font-weight: bold; }
    .content-detail .sp .detail div {
      margin-top: 15px; }
      .content-detail .sp .detail div p {
        line-height: 1.5em; }

.content-cart {
  background: #fff;
  height: auto;
  min-height: 600px;
  color: #000;
  width: 1020px; }
  .content-cart .footer-content {
    display: inline-block;
    width: 200px;
    float: right;
    margin-bottom: 15px; }
  .content-cart .header-cart {
    width: 100%;
    padding-top: 16px;
    text-align: center;
    height: 60px;
    background: #ccc;
    font-size: 30px;
    color: red; }
  .content-cart .bottom-cart {
    width: 100%;
    height: 35px;
    background: #fff;
    border-bottom: 7px solid #000; }
    .content-cart .bottom-cart h3 {
      float: right;
      font-weight: bold;
      margin-bottom: 10px; }
  .content-cart .cart-box {
    padding-top: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc; }
    .content-cart .cart-box img {
      width: 150px;
      height: 150px;
      margin-right: 25px; }
    .content-cart .cart-box .body-sp-cart {
      padding-top: 18px;
      width: 700px; }
      .content-cart .cart-box .body-sp-cart h4 {
        font-weight: bold;
        font-size: 19px;
        margin-bottom: 5px; }
      .content-cart .cart-box .body-sp-cart h5 {
        font-size: 15px;
        line-height: 1.5em;
        margin: 10px 0 5px 0; }
      .content-cart .cart-box .body-sp-cart .btn-fix {
        padding-top: 6px;
        height: 35px;
        width: 60px;
        text-align: center;
        float: right;
        margin-left: 15px; }
      .content-cart .cart-box .body-sp-cart .update {
        padding: 0; }
      .content-cart .cart-box .body-sp-cart a {
        font-size: 14px;
        line-height: 1.5em;
        margin-bottom: 7px; }
        .content-cart .cart-box .body-sp-cart a button {
          background: #337ab7;
          border: none;
          width: 100%;
          height: 100%; }
          .content-cart .cart-box .body-sp-cart a button:hover {
            background: #286090; }

.checkout {
  padding-right: 600px;
  padding-left: 0px; }

.register {
  background: #fff;
  width: 700px;
  margin-bottom: 30px; }
  .register form {
    margin: 0px 10px; }
  .register h2 {
    margin-top: 2px;
    margin-bottom: 2px; }
  .register .container {
    max-width: 360px; }
  .register .divider {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px; }
  .register .divider hr {
    margin: 7px 0px;
    width: 35%; }
  .register .left {
    float: left; }
  .register .right {
    float: right; }

.content-bill {
  background: #fff;
  min-height: 500px;
  margin-bottom: 20px; }
  .content-bill div {
    text-align: center;
    margin: 15px 0; }
    .content-bill div strong {
      font-weight: bold; }
    .content-bill div .head-bill {
      font-size: 20px;
      font-weight: bold;
      color: red; }
    .content-bill div .col-md-6, .content-bill div .col-md-6 > div {
      text-align: left;
      font-weight: bold;
      font-size: 15px; }
    .content-bill div .left, .content-bill div .left > div {
      text-align: right; }

.news {
  background: linear-gradient(#39706d, #c3e5e3);
  width: 900px;
  height: auto;
  float: right;
  margin-right: 100px;
  margin-bottom: 30px; }
  .news .eachnew {
    background: #fff;
    width: 90%;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 45px;
    padding-top: 15px;
    line-height: 1.5em; }
    .news .eachnew .new-width {
      width: 100%; }
      .news .eachnew .new-width .title {
        margin: 5px 0 10px 0;
        font-size: 20px; }
        .news .eachnew .new-width .title h1 {
          font-weight: bold;
          color: red; }
          .news .eachnew .new-width .title h1 span {
            float: right; }
      .news .eachnew .new-width .text-content {
        font-size: 13px; }
  .news .eachnew:first-child {
    margin-top: 20px; }

.pag {
  width: 100%;
  vertical-align: middle; }
  .pag li {
    display: inline-block; }

.detail {
  float: right;
  width: 900px;
  margin-right: 100px;
  background: #fff;
  padding: 15px 10px;
  margin-bottom: 25px; }
  .detail h1 {
    font-size: 32px;
    color: red;
    margin: 5px 0 15px 0;
    text-align: center; }
  .detail h3 {
    float: right;
    font-size: 15px;
    color: red; }
  .detail img {
    width: 300px;
    height: auto;
    max-height: 450px;
    margin: 20px 0; }
  .detail .text-content {
    font-size: 14px;
    line-height: 2em;
    margin-left: 20px; }
    .detail .text-content::first-letter {
      font-size: 30px;
      margin-left: 50px; }

/*# sourceMappingURL=style.css.map */
